body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: #f3f4f6;
}

.calculator {
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.btn {
  padding: 5px 15px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
}

#resultado {
  padding: 20px;
  border-radius: 10px;
}

.aprovada {
  background-color: #4caf50;
}

.reprovada {
  background-color: red;
}